html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

.left {
    background-color: #c7cc8c;
}

.right {
    background-color: #f2cdb8;
}
